.register__input {
  min-width: 358px;
  min-height: 27px;
  background-color: black;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  color: white;
}